server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:tavares;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: America/Sao_Paulo
  h2:
    console:
      enabled: true
      path: /h2
  thymeleaf:
    cache: false

app:
  timezone: America/Sao_Paulo
  business:
    whatsapp: "(11) 94186-7850"
